@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-radius {
  mask-image: radial-gradient(circle, black 20%, rgba(0, 0, 0, 0) 70%);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  h1 {
    @apply text-4xl md:text-7xl font-extrabold text-white text-center mb-2 md:mb-4;
  }

  h2 {
    @apply text-4xl md:text-5xl font-extrabold text-white text-center mb-2 md:mb-4;
  }

  h3 {
    @apply text-3xl md:text-4xl font-bold text-white text-center mb-2 md:mb-4;
  }

  p {
    @apply text-white text-center text-sm md:text-2xl font-medium;
  }
}
